.ghost
  margin: 0 .5em
  color: #6b6b6b
.sub-text
  font-size: 15px
.detail-container
  display: flex
.card-title
  color: #006699
  display: block ruby
.rating-container
  float: right
  position: relative
  color:#3399ff
  font-size:25px
.rating-sub
  font-size:15px
  color:#99ccff
