.ghost
  margin: 0 .5em
  color: #8E8C84
.sub-text
  font-size: 15px
.detail-container
  display: flex
.card-title
  display: block ruby
.rating-container
  float: right
  position: relative
  color:#325D88
  font-size:25px
.rating-sub
  font-size:15px
  color:#8E8C84
