<div class="container-lg">
  <div class="card">
    <div class="card-header">
      <app-header [searchString]="searchString" ></app-header>
    </div>
    <div class="card-body">
      <h5 *ngIf="movieError">Movie not found!</h5>
      <div *ngIf="movies && !movieError">
        <h5 class="card-title"> Displaying {{page}} of {{ pages }}  page/s for "{{searchString}}"
        </h5>
        <app-pagination [pages]="pages" [page]="page"></app-pagination>
        <app-movies [movies]= "movies"></app-movies>
        <app-pagination [pages]="pages" [page]="page"></app-pagination>
      </div>
    </div>
  </div>
</div>
