<div class="container-lg">
  <div class="card">
    <div class="card-header">
      <app-header [searchString]="searchString" ></app-header>
    </div>
    <div class="card-body">
      <div *ngIf="movies.length===0 && !movieError" class="progress-bar" role="progressbar"
      style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Loading
      </div>
      <h5 *ngIf="movieError">Movie not found!</h5>
      <div *ngIf="movies.length >= 1 && !movieError">
        <h5 class="card-title"> Displaying {{page}} of {{ pages }}  page/s for "{{searchString}}"
        </h5>
        <app-pagination [pages]="pages" [page]="page"></app-pagination>
        <app-movies [movies]= "movies"></app-movies>
        <app-pagination [pages]="pages" [page]="page"></app-pagination>
      </div>
    </div>
  </div>
</div>
